@using System.Linq;
@model Budget.Web.Mvc.Models.BudgetVm.BudgetTotalVm

@{
    ViewBag.PageTitle = "Сводка";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var totalSum = Model.Scores.AllRows.Where(x => x.ScoreType.SelectedItemText != "Credit").Sum(x => x.Balance);
}

<div class="row">
    <div class="col-md-4">

        <div class="panel panel-info">
            <div class="panel-heading">
                Текущий баланс счетов
                <span class="pull-right">@totalSum.ToString("0.00") руб.</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @foreach (var score in Model.Scores.AllRows.OrderBy(x => x.OrderId))
                    {
                        <li class="list-group-item">
                            <span>@score.Name</span>
                            @if (score.ScoreType.SelectedItemText == "Credit")
                            {
                                <span class="text-danger pull-right"> @((score.CreditDebts - score.Balance).ToString("0.00")) руб.</span>
                                <span class="text-success pull-right">@( (score.Balance + score.CreditLimit - score.CreditDebts ).ToString("0.00")) руб. __/__ </span>
                            }
                            else
                            {
                                <span class="text-success pull-right">@score.Balance.ToString("0.00") руб.</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>

    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                Предстоящие события
            </div>
            <div class="panel-body">
                @foreach (var item in Model.Schedule.OrderBy(x => x.Key))
                {
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span>@item.Key.ToString("dd.MM.yyyy")</span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                @foreach (var itemVal in item.Value)
                                {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-3">@itemVal.ShortName</div>
                                            <div class="col-md-3">@itemVal.Description</div>
                                            <div class="col-md-3">@itemVal.Amount</div>
                                            @if (2 > 1)
                                            {
                                                <div class="col-md-3">
                                                    <div class="pull-right"><span class="label label-success">Хватит</span></div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-3">
                                                    <div class="pull-right">
                                                        <span class="label label-danger">Не хватит</span>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </li>
                                }
                            </ul>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>